@charset "utf-8";

/* 品牌理念 ---------------------------------------------------- */

.ideal {
    color: #6a2921;
    background-color: #F4EED4;
}

.ideal-title, .consist-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.ideal-desc, .consist-desc {
    line-height: 2.5rem;
    text-align: center;
    
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: double 3px #0c5d41;
    margin: 0 5em;
}

/* 我們的堅持 --------------------------------------------------- */

.consist {
    max-width: 100%;
    color: #6a2921;
    background-color: #fffdf4;
}

.consist-pic-txt {
    position: relative;
}

.consist-item {
    position: absolute;
}

.consist-pic {
    height: auto;
}

.consist-pic-kitchen {
    max-width: 100%;
}

.consist-item1 {
    top: 14rem;
    left: 6rem;    
}

.consist-pic-chef {
    max-width: 211.5px;
    height: auto;
}

.consist-txt-chef {
    left: 4.5rem;
    top: 10.5rem;
}

.consist-item2 {
    top: 15.5rem;
    left: 2.5rem;
}

.consist-pic-egg {
    max-width: 108px;
}

.consist-txt-egg {
    left: -.5rem;
}

.consist-item3 {
    top: 24rem;
    right: 9.5rem;
}

.consist-pic-flour {
    max-width: 207px;
}

.consist-txt-flour {
    right: 1rem;
    top: 7rem;
}

.consist-item4 {
    top: 14rem;
    right: 12rem;    
}

.consist-pic-sauce {
    max-width: 90.5px;
}

.consist-txt-sauce {
    top: 7rem;
    left: -.4rem;
}

.consist-txt {
    background-color: #F4EED4;
    /* line-height: 50px; */
    border: #6a2921 solid 3px;
    border-radius: 5px;
    display: none;
    padding: 5px;
}

.consist-pic:hover {
    cursor: pointer;
}

.consist-pic:hover+.consist-txt {
	position: absolute;
	z-index: 1;
    display: block;
}

/* RWD ----------------------------------------- */

@media screen and (max-width: 480px) {
    .ideal-title, .ideal-desc, .consist-title, .consist-desc {
        padding: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .ideal-desc, .consist-desc {
        line-height: 1.5rem;
        font-size: 3.5vw;
    }

    .ideal-title, .consist-title {
        font-size: 4.5vw;
    }

    .consist-item1 {
        top: 18rem;
        left: 2rem;    
    }

    .consist-pic-chef {
        max-width: 40vw;
        height: auto;
    }

    .consist-txt-chef {
        left: 4rem;
        top: 8rem;
    }
    
    .consist-item2 {
        top: 20.5rem;
        left: 1.2rem;
    }
    
    .consist-pic-egg {
        max-width: 15vw;
        height: auto;
    }
    
    .consist-txt-egg {
        left: -.5rem;
    }
    
    .consist-item3 {
        top: 27rem;
        right: 4rem;
    }
    
    .consist-pic-flour {
        max-width: 30vw;
        height: auto;
    }
    
    .consist-txt-flour {
        right: .7rem;
        top: 4.5rem;
    }
    
    .consist-item4 {
        top: 16.5rem;
        right: 7rem;    
    }
    
    .consist-pic-sauce {
        max-width: 15vw;
        height: auto;
    }
    
    .consist-txt-sauce {
        top: 3rem;
        left: -.1rem;
    }

    .consist-txt {
        font-size: 2.5vw;
        border: 1.5px #6a2921 solid;
        padding: 3px;
        padding-right: 1px;
    }

}