@charset "utf-8";

/* 品牌理念 ---------------------------------------------------- */

.ideal {
    color: #6a2921;
    background-color: #F4EED4;
}

.ideal-title, .consist-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.ideal-desc, .consist-desc {
    line-height: 2.5rem;
    text-align: center;
    padding: 3rem 5rem;
    border-top: double 3px #0c5d41;
    margin: 0 5em;
}

/* 我們的堅持 --------------------------------------------------- */

.consist {
    max-width: 100%;
    color: #6a2921;
    background-color: #fffdf4;
}

.consist-pic-txt {
    position: relative;
}

.consist-item {
    position: absolute;
}

/* .consist-pic {
    max-height: 100%;
    width: auto;
} */

.consist-pic-kitchen {
    min-height: max-content;
    max-width: 100%;
}

.consist-item1 {
    top: 14rem;
    left: 6rem;    
}

.consist-pic-chef {
    max-width: 211.5px;
    height: auto;
}

.consist-txt-chef {
    left: 4.5rem;
    top: 10.5rem;
}

.consist-item2 {
    top: 15.5rem;
    left: 2.5rem;
}

.consist-pic-egg {
    max-width: 108px;
    height: auto;
}

.consist-txt-egg {
    left: -.5rem;
}

.consist-item3 {
    top: 24rem;
    right: 9.5rem;
}

.consist-pic-flour {
    max-width: 207px;
    height: auto;
}

.consist-txt-flour {
    right: 1rem;
    top: 7rem;
}

.consist-item4 {
    top: 14rem;
    right: 12rem;    
}

.consist-pic-sauce {
    max-width: 90.5px;
    height: auto;
}

.consist-txt-sauce {
    top: 7rem;
    left: -.4rem;
}

.consist-txt {
    background-color: #F4EED4;
    /* line-height: 50px; */
    border: #6a2921 solid 3px;
    border-radius: 5px;
    display: none;
    padding: 5px;
}

.consist-pic:hover {
    cursor: pointer;
}

.consist-pic:hover+.consist-txt {
	position: absolute;
	z-index: 1;
    display: block;
}