@charset "utf-8";

.web_bg {
    background-color: #fffdf4;
}

.container {
    max-width: 1000px;
}

.small-container {
    max-width: 700px;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    vertical-align: bottom;
}

/* .color_white {
    background-color: #fffdf4;
}

.color_yellow {
    background-color: #F4EED4;
}

.color_brown {
    color: #6a2921;
}

.color_red {
    color: #b5212e;
} */

/* 頁頭 ------------------------------------------------------------ */

.header-head {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    background-color: #fffdf4;
}

.head-logo {
    max-width: 300px;
    display: block;
}

/* 
.head_navi {
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 50px;
    display: block;
} */

.navi-ls {
    display: flex;
    /* flex-wrap: wrap; */
    position: absolute;
    top: 8.35rem;
    left: 0;
    background-color: rgba(255, 253, 244, .5);
    width: 100%;
}

.navi-item {
    text-align: center;
    list-style-type: none;
    line-height: 3rem;
    /* padding-left: 63px;
    padding-right: 65px; */
}

.navi-ls a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    line-height: 6rem;
    color: #b5212e;
    width: 20%;
    box-sizing: border-box;
    transition-duration: .3s;
    font-size: .9rem;
}

.navi-ls a:hover {
    background-color: rgba(255, 253, 244, 1);
    color: #6a2921;
}

.banner-pic {
    max-width: 100%;
    height: auto;
}

/* 頁尾 ------------------------------------------------------------ */

.footer {
    padding: 1.25rem;
    display: flex;
    background-color: #fffdf4;
}

.footer_pic {
    max-width: 150px;
}

.footer p {
    font-size: .6rem;
    line-height: 100%;
    margin-top: 2rem;
    margin-right: 3rem;
    color: #6a2921;
}

/* 側邊欄 -------------------------------------------- */

.top {
    max-width: 4%;
    height: auto;
    position: fixed;
    bottom: 30%;
    right: 3%;
}