@charset "utf-8";

.banner {
    max-height: 424px;
    width: auto;
    overflow: hidden;
}

.index-banner-pic {
    display: flex;
    max-width: 100%;
    height: auto;
}

.story {
    color: #6a2921;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.story-item {
    width: 100%;
    display: flex;
    padding: 3rem 1.5rem;
}

.story-item-1 {
    background-color: #fffdf4;
}

.story-item-2 {
    background-color: #F4EED4;
}

.story-txt {
    padding: 3rem 5rem;
}

.story-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.story-desc {
    line-height: 2.5rem;
}

.story-pic {
    max-width: 297px;
    max-height: 225px;
    margin: 2rem;
    border-radius: 3px;
}

.x-reverse {
    direction: rtl;
}