@charset "utf-8";

.banner {
    max-height: 424px;
    width: auto;
    overflow: hidden;
    display: flex;
}

.index-banner-pic {
    max-width: 100%;
    height: auto;
}
/* 加動畫往左跑 */

/* story ----------------------------------------- */

.story {
    color: #6a2921;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.story-item {
    width: 100%;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    padding: 3rem 5rem;

}

.story-item-1 {
    background-color: #fffdf4;
}

.story-item-2 {
    background-color: #F4EED4;
}

.story-pic-div {
    width:30%;
    border-radius: 5px;
    /* padding: 2rem; */
    align-items: center;
}

.story-pic {
    max-width: 100%;
    height: auto;
}

.story-txt {
    width: 70%;
    box-sizing: border-box;
    padding: 0 2rem;
}

.story-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.story-desc {
    line-height: 2rem;
}

.x-reverse {
    direction: rtl;
}