@charset "uft-8";

.menu {
    color: #6a2921;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

.menu-item-comn{
    background-color: #fffdf4;
}

.menu-item-comn-pic {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 100%;
    height: auto;
}

/* 新品上市--------------------------------------------- */

.menu-item-new {
    display: flex;
    flex-wrap: wrap;
    background-color: #F4EED4;
    padding: 3rem 1rem;
}

.menu-item-new-title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3rem;
}

.menu-item-new div {
    box-sizing: border-box;
    width: 33.333%;
}

/* .menu-item-new-pic, .menu-item-new-txt {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
} */

.menu-item-new-pic {
    max-width: 80%;
    height: auto;
    border-radius: 5%;
    padding-bottom: 1rem;
}

.menu-item-new-txt {
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}

/* RWD ----------------------------------------- */

@media screen and (max-width: 480px) {

    .menu-item-new {
        padding: 1rem;
    }

    .menu-item-new-title {
        font-size: 4vw;
        margin-bottom: 1rem;
        padding: 0;
    }

    .menu-item-new-txt {
        font-size: 3.5vw;
    }
}