@charset "utf-8";

body {
    color: #6a2921;
    text-align: center;
}

.new-prod-title, .holiday-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.new-prod-name {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 2.5rem;
}

.new-prod-desc, .holiday-desc {
    line-height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.new-prod-item {
    width: 100%;
    display: flex;
    padding: 2rem;
    box-sizing: border-box;
}

.new-prod-title, .new-prod-item-1, .new-prod-item-3 {
    background-color: #fffdf4;
}

.new-prod-item-2 {
    background-color: #F4EED4;
}

.new-prod-pic-div {
    width: 30%;
    box-sizing: border-box;
}

.new-prod-pic {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    padding-top: 1.5rem;
}

.new-prod-txt {
    padding: 0 3rem;
    width: 70%;
    box-sizing: border-box;
}

.new-prod-name {
    font-size: 1.2rem;
}

.x-reverse {
    direction: rtl;
}

/* holiday --------------------------------------------------------------- */

.holiday {
    background-color: #F4EED4;
}

.holiday-item {
    /* display: flex; */
}

.holiday-title {
    padding-bottom: 2rem;
}

.holiday-pic {
    /* margin-left: 2.5rem;
    margin-bottom: 2.5rem; */
    max-width: 40%;
    height: 30%;
}

.holiday-desc {
    padding: 1rem 5rem;
}

/* RWD ----------------------------------------- */

@media screen and (max-width: 480px) {

    .new-prod-title, .new-prod-item {
        padding: 1rem 2rem;
    }

    .new-prod-title {
        font-size: 4.5vw;
    }

    .new-prod-name, .holiday-title {
        font-size: 4vw;
        padding: 0;
        padding-bottom: 1rem;
    }

    .new-prod-desc, .holiday-desc {
        font-size: 3.5vw;
        padding: 0;
        line-height: 1.5rem;
    }

    .new-prod-txt {
        width: 60%;
        padding: 1rem 2rem;
    }

    .new-prod-pic-div {
        width: 40%;
        box-sizing: border-box;
        padding: .5rem;
    }

    .holiday-title {
        padding: 1rem;
    }

    .holiday-item {
        padding: 1rem;
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .holiday-pic {
        width: 40%;
        margin: 0;
        padding-left: 2rem;
        box-sizing: border-box;
    }

    .holiday-desc {
        width: 60%;
        padding: 1rem;
        box-sizing: border-box
    }
}