@charset "utf-8";

body {
    color: #6a2921;
    text-align: center;
}

.new-prod-title, .holiday-title {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.new-prod-name {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 2.5rem 0;
}

.new-prod-desc, .holiday-desc {
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.new-prod-item {
    width: 100%;
    display: flex;
}

.new-prod-title, .new-prod-item-1, .new-prod-item-3 {
    background-color: #fffdf4;
}

.new-prod-item-2 {
    background-color: #F4EED4;
}

.new-prod-pic {
    max-width: 297px;
    max-height: 225px;
    margin: 3rem 5rem;
    border-radius: 5px;
}

.new-prod-txt {
    margin: 1.8rem 6rem;
    padding: 2.5rem 0;
}

.new-prod-name {
    font-size: 30px;
}

.new-prod-desc {
    margin: 0 24px;
}

.x-reverse {
    direction: rtl;
}

.holiday {
    background-color: #F4EED4;
}

.holiday-item {
    display: flex;
}

.holiday-pic {
    margin: 2.5rem 1rem 2.5rem 4rem;
    max-width: 40%;
}

.holiday-desc {
    font-size: 1.2rem;
    padding: 10rem 5rem 10rem 3rem;
    line-height: 3.5rem;
}